@import "tailwindcss";

:root {
  --color-primary: #0e46a3;
  --color-accent: #e1f7f5;
  --color-warm-bg: #f1eedc;
  --color-warm-text: #af8260;
  --color-danger: #c12e2a;
  --color-healthy: #8deca4;
}

body {
  font-family: "Cambria", "Cochin", "Georgia", serif;
  background-color: var(--color-warm-bg);
  color: var(--color-warm-text);
}
